html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(0deg, rgba(0, 61, 61, 1) 0%, rgba(0, 131, 131, 1) 50%, rgba(0, 255, 255, 1) 100%) no-repeat fixed;
    margin: 0;
}

nav {
    margin: 0;
    z-index: 10000;
    position: fixed;
    background: rgba(0, 255, 255, 1);
    display: inline-block;
    height: 60px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

nav a {
    margin: 5px 10px;
    display: block;
    color: black;
    font-size: xx-large;
    text-decoration: none;
}

#title {
    float: left;
}

#login, #logout, #timer {
    float: right;
}

#big-login {
    color: black;
    font-size: xx-large;
    text-decoration: none;
}

.form {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

input {
    border: none;
    border-radius: 10px;
    font-family: inherit;
}

.radios {
    display: inline-block
}

input:focus {
    border: none;
    outline: none;
}

.container {
    width: 100%;
    position: absolute;
    top: 70px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.pair {
    overflow: hidden;
    height: 150px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.pair a {
    color: black;
    font-size: xx-large;
}

.right-person {
    float: right;
    width: 50%;
    height: 25px;
}

.left-person {
    float: left;
    width: 50%;
    height: 25px;
}

.photo {
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin-right: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}