body {
    background: #c0e4fc;
    font-family: 'Oswald', sans-serif;
}

nav {
    background: #5897bd;
    display: inline-block;
    height: 60px;
    width: 100%;
}

nav a {
    margin: 5px 10px;
    display: block;
    vertical-align: middle;
    color: black;
    font-size: xx-large;
    text-decoration: none;
}

#title {
    float: left;
}

#login {
    float: right;
}

#big-login {
    color: black;
    font-size: xx-large;
    text-decoration: none;
}

.form {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

input {
    border: none;
    border-radius: 10px;
    font-family: inherit;
}

input:focus {
    border: none;
    outline: none;
}

.container {
    position: absolute;
    left: 50%;
    width: 70%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin-top: 10px;
}

.pair {
    overflow: hidden;
    height: 150px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.pair a {
    color: black;
    font-size: xx-large;
}

.right-person {
    float: right;
    width: 50%;
    height: 25px;
}

.left-person {
    float: left;
    width: 50%;
    height: 25px;
}

.photo {
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin-right: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}