body {
    background: bisque;
    font-family: 'Oswald', sans-serif;
}
nav {
    background: coral;
    display: inline-block;
    height: 40px;
    width: 100%;
}

nav a {
    display: block;
    width: 100px;
    color: black;
    float: right;
    font-size: large;
    text-decoration: none;
}

.form {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

input {
    border: none;
}

input:focus {
    border: none;
    outline: none;
}

.container {
    position: absolute;
    left: 50%;
    width: 70%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin-top: 10px;
}

.pair {
    overflow: hidden;
}

.right-person {
    float: right;
    width: 50%;
    height: 25px;
}

.left-person {
    float: left;
    width: 50%;
    height: 25px;
}