<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <title>HiddenFriends</title>
</head>
<body>
<nav>
    <a href="https://oauth.vk.com/authorize?client_id=7900610&display=popup&redirect_uri=http://localhost:8080/login&scope=friends,groups,photos&response_type=code&v=5.120">
        LOGIN
    </a>
</nav>
<div class="form">
    <label for="vk_id">Id: </label><input type="number" min="1" placeholder="*********" list="defaultNumbers" id="vk_id">
    <input id="run" type="button" value="RUN">
    <datalist id="defaultNumbers">
        <option value="147946476">
        <option value="178443156">
    </datalist>
</div>

<script>
    document.getElementById("run").onclick = function () {
        location.href = `http://localhost:8080/run/${document.getElementById("vk_id").value}`
    }
</script>
</body>
</html>