<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{headers :: headers}"></head>
<body>
<nav th:replace="~{navbar :: navbar}"></nav>
<div class="form">
    <div th:if="${loggedIn}">
        <label for="vk_id">Id: </label>
        <input id="vk_id" min="1" placeholder="User ID" value="147946476" type="number">
        <button id="run" onclick="button_clicked()">
            <img style="width: 15px" th:src="@{/img/search.png}">
        </button>
        <div>
            <div id="depth" class="radios">
                <input id="search_depth1" type="radio" name="radio_depth" value="3" checked>
                <label for="search_depth1">Minimal depth</label>
                <br>
                <input id="search_depth2" type="radio" name="radio_depth" value="4">
                <label for="search_depth2">Middle depth</label>
                <br>
                <input id="search_depth3" type="radio" name="radio_depth" value="5">
                <label for="search_depth3">Maximum depth</label>
                <br>
            </div>
            <div id="width" class="radios">
                <input id="search_width1" type="radio" name="radio_width" value="5" checked>
                <label for="search_width1">Minimal width</label>
                <br>
                <input id="search_width2" type="radio" name="radio_width" value="15">
                <label for="search_width2">Middle width</label>
                <br>
                <input id="search_width3" type="radio" name="radio_width" value="30">
                <label for="search_width3">Maximum width</label>
                <br>
            </div>

        </div>
    </div>
    <a href="https://oauth.vk.com/authorize?client_id=7900610&display=popup&redirect_uri=http://localhost:8080/login&scope=friends,groups,photos&response_type=code&v=5.120"
       id="big-login"
       th:unless="${loggedIn}">
        LOGIN
    </a>
</div>

<script>
    function button_clicked() {
        location.href = `http://localhost:8080/result/${document.getElementById("vk_id").value}?depth=${$('input[name=radio_depth]:checked', '#depth').val()}&width=${$('input[name=radio_width]:checked', '#width').val()}`
    }
</script>
</body>
</html>