<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{headers :: headers}"></head>
<body>
<nav th:replace="~{navbar :: navbar}"></nav>
<div class="form">
    <div th:if="${loggedIn}">
        <label for="vk_id">Id: </label><input id="vk_id" list="defaultNumbers" min="1" placeholder="User ID"
                                              type="number">
        <input id="run" type="button" value="RUN">
        <datalist id="defaultNumbers">
            <option value="147946476">
            <option value="178443156">
        </datalist>
    </div>
    <a href="https://oauth.vk.com/authorize?client_id=7900610&display=popup&redirect_uri=http://localhost:8080/login&scope=friends,groups,photos&response_type=code&v=5.120"
       id="big-login"
       th:unless="${loggedIn}">
        LOGIN
    </a>
</div>

<script>
    button = document.getElementById("run")
    if (button != null) {
        button.onclick = function () {
            location.href = `http://localhost:8080/result/${document.getElementById("vk_id").value}`
        }
    }
</script>
</body>
</html>