form {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

input {
    border: none;
    border-radius: 10px;
    font-family: inherit;
    margin-bottom: 10px;
}

.radios {
    display: inline-block
}

input:focus {
    border: none;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#run{
    float: right;
}

legend {
    margin-top: 10px;
}