<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headers">
    <meta content='width=device-width,initial-scale=1' name='viewport'/>
    <meta content='true' name='HandheldFriendly'/>
    <meta content='width' name='MobileOptimized'/>
    <meta content='yes' name='apple-mobile-web-app-capable'/>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <title>HiddenFriends</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon">
    <script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
</head>
</html>